/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2015, 3:04:51 PM
    Author     : admin
*/

.rf-dt-c{font-size: 14px;}
.rf-dt{font-size: 14px;}
.rf-dt-r{font-size: 14px;}
.rf-dt-cap{font-size: 14px;}
.rf-dt-hdr-c{font-size: 14px;}
table{margin: auto;}
#dataTable{width: 100%; text-align:center;}
button,input[type="reset"],input[type="submit"],input[type="button"],input[type="text"]{font-size: 14px;}
label{font-size: 14px;}